{% extends 'home/layout.html.twig' %}
{% block title %} {{parent()}} {% endblock %}

{% block body %}
    {{parent()}} 
    <div class="container-row" >
        <h1 class="glowing"> News </h1>
    </div>

{# <h1> Accueil  </h1> #}
{% endblock %}




