{% extends 'private-space/layout.html.twig' %}
{% block title %} {{parent()}} {% endblock %}
{% block body %} 
{{parent()}}
{# ################################################################# #}
{#                    PRIVATE-PAGE : INVENTAIRE                      #}
{# ################################################################# #}
<h1> Inventaire &hearts; </h1>
{% endblock %}