{% extends 'private-space/layout.html.twig' %}
{% block title %} {{parent()}} {% endblock %}
{% block body %} 
{{parent()}}
{# ################################################################# #}
{#                    PRIVATE-PAGE : INVENTAIRE                      #}
{# ################################################################# #}
<header class="container-column container-row-left">
        <h1> Virtual Animals </h1>
   
    <div class="container-column container-row-left subtitle">
        <h1> Inventaire - {{ app.user.nom}} </h1>
    </div>
</header>
    <main>
        <p> page en construction</p>
    </main>
{% endblock %}