{% extends 'admin/layout.html.twig' %}

{% block title %} {{parent()}} {% endblock %}

{% block body %} 
{{parent()}}
<header>
    <h1> Administration </h1>
</header>

<main>
    <div class="container-row-reverse">
        <div class="container-monster"> 
            <h5> Publier un nouvel évènement </h5>
            [En construction]
        </div>
        <div class="container-monster">
            <h5> Gérer les rôles admin  </h5>
            [ Bientot ]
        </div> 
        <div class="container-monster">
            <h5> Proposer un nouveau monstre </h5>
            [En construction]
        </div> 
    </div>


{% endblock %}