{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {% endblock %}

{% block body %} 
{{parent()}}
<header>
    <h1> Bienvenue dans la Boutique </h1>
    {# <img src="/images/logos/red-panda-shop.png" width="100px" height="100px" alt="logo dessin d'un panda roux"/> #}
</header>


{% endblock %}