{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {% endblock %}

{% block body %} 
{{parent()}}
<header class="container-column container-row-left">
        <h1> Virtual Animals </h1>
   
    <div class="container-column container-row-left subtitle">
        <h1> Boutique - {{ app.user.nom }} </h1>
    </div>
</header>

<main class="container-main">

{% endblock %}